# Python
__pycache__/
*.py[cod]
.venv/

# F1 Data (Managed by DVC)
/data/**
!/data/**/
!/data/**/*.dvc
!/data/**/.gitignore
/models/*.pkl

# Environment/Secrets
.env
*.log

# Terraform
.terraform/
*.tfstate