# Python
__pycache__/
*.py[cod]
.venv/

# F1 Data (Managed by DVC)
# Ignore data files but allow directories and .dvc metadata files
/data/*
!/data/*/
!*.dvc
/models/*.pkl

# Environment/Secrets
.env
*.log

# Terraform
.terraform/
*.tfstate